<!DOCTYPE html>
<html>
    <body> 
        <h1>G微博</h1>
        <p>
        这是
        <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
        示例应用程序的主页 
        </p>
    </body>
</html>
